﻿<div class="row">
    <div class="col-xl-2">
        <h4 style="margin-top: 40px">From DateTime</h4>
        <RadzenDatePicker TValue="DateTime?" 
                          Value="FromDateValue" 
                          YearRange="2020:2030"
                          ShowTime="false" ShowSeconds="false" HoursStep="1.5" MinutesStep="5" SecondsStep="10" 
                          Change=@(args => OnFromDateChange(args, "yyyy-MM-dd HH:mm:ss.f")) 
                          DateFormat="yyyy-MM-dd HH:mm:ss:f" />
    </div>
    <div class="col-xl-2">
        <h4 style="margin-top: 40px">To DateTime</h4>
        <RadzenDatePicker TValue="DateTime?" 
                          Value="ToDateValue" 
                          YearRange="2020:2030"
                          ShowTime="false" ShowSeconds="false" HoursStep="1.5" MinutesStep="5" SecondsStep="10" 
                          Change=@(args => OnToDateChange(args, "yyyy-MM-dd HH:mm:ss.f"))  
                          DateFormat="yyyy-MM-dd HH:mm:ss.f" />
    </div>
</div>
        

        
