﻿<div class="row">
    <div class="col-xl-1">
        <h4>Number of Transactions</h4>
        <RadzenTextBox Disabled="true" Value="@NumberOfTransactions"></RadzenTextBox>
    </div>
    <div class="col-xl-1">
        <h4>Number of Verifone Transactions</h4>
        <RadzenTextBox Disabled="true" Value="@NumberOfVerifoneTransactions"></RadzenTextBox>
    </div>
</div>
<div class="row">
    <div class="col-xl-2">
        <ExportToExcel Data="@PossibleTransactionResults" FileName="@(PossibleTransactionResults.Select(t => t.VerifoneTerminalId.ToString()).FirstOrDefault())"></ExportToExcel>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <RadzenGrid AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@PossibleTransactionResults" TItem="Vexta.Entities.PossibleTransaction">
            <Columns>
                <RadzenGridColumn TItem="Vexta.Entities.PossibleTransaction" Property="VerifoneStanRef" Title="Verifone Stan Ref" />
                <RadzenGridColumn TItem="Vexta.Entities.PossibleTransaction" Property="VerifoneAuthCode" Title="Verifone Authorization Code" />
                <RadzenGridColumn TItem="Vexta.Entities.PossibleTransaction" Property="VerifoneTerminalId" Title="Verifone TerminalId" />
                <RadzenGridColumn TItem="Vexta.Entities.PossibleTransaction" Property="VerifoneTransactionTime" Title="Verifone Transaction Time" />
                <RadzenGridColumn TItem="Vexta.Entities.PossibleTransaction" Property="VerifoneTotalAmount" Title=" Verifone Total Amount">
                    <Template Context="detail">
                        @String.Format(new System.Globalization.CultureInfo("nb-NO"), "{0:C}", detail.VerifoneTotalAmount)
                    </Template>
                </RadzenGridColumn> 
                <RadzenGridColumn TItem="Vexta.Entities.PossibleTransaction" Property="TransactionId" Title="TransactionId" />
                <RadzenGridColumn TItem="Vexta.Entities.PossibleTransaction" Property="PaymentMethodId" Title="Transaction Payment Method" />
                <RadzenGridColumn TItem="Vexta.Entities.PossibleTransaction" Property="TransactionState" Title="Transaction State" />
                <RadzenGridColumn TItem="Vexta.Entities.PossibleTransaction" Property="TransactionAmount" Title="Transaction Amount">
                    <Template Context="detail">
                        @String.Format(new System.Globalization.CultureInfo("nb-NO"), "{0:C}", detail.TransactionAmount)
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="Vexta.Entities.PossibleTransaction" Property="TransactionReason" Title="Transaction Reason" />
                <RadzenGridColumn TItem="Vexta.Entities.PossibleTransaction" Property="TransactionCreatedAt" Title="Transaction Created" />
                <RadzenGridColumn TItem="Vexta.Entities.PossibleTransaction" Property="TransactionCapturedAt" Title="Transaction Captured" />
                @*<RadzenGridColumn TItem="Vexta.Entities.VerifoneTransaction" Property="Discount" Title="Discount" FormatString="{0:P}" />*@
            </Columns>
        </RadzenGrid>
    </div>
</div>
        
