﻿<div class="row">
    <div class="col-xl-6">
        <h3 style="margin-top: 1rem">Upload Verifone Excel</h3>
        <RadzenUpload @ref="upload" Auto="false" Multiple="true"
                      Url="upload/multiple"
                      Style="margin-bottom: 20px;"
                      Change=@(args => OnChange(args, "Manual Upload"))
                      Progress=@(args => OnProgress(args, "Manual Upload")) />

        <RadzenButton Text="Upload" Click=@(args => upload.Upload()) Style="margin-bottom: 20px;" />
    </div>
</div>

