﻿@page "/"

<h3>TransactionChecker</h3>

<UploadXsls></UploadXsls>

<DateRangePicker OnFromDateChanged="(d => FromDateHandler(d))" OnToDateChanged="(d => ToDateHandler(d))"></DateRangePicker>

<h4>Terminal Id</h4>
<RadzenTextBox Change="@(args => OnChange(args, this, () => TerminalIds))"></RadzenTextBox>

<h4>Payment Method Id</h4>
<RadzenTextBox Change="@(args => OnChange(args, this, () => PaymentMethodIds))"></RadzenTextBox>

<h4>Transaction State</h4>
<RadzenTextBox Change="@(args => OnChange(args, this, () => TransactionStates))"></RadzenTextBox>

<TransactionChecker OnTransactionCheckerChanged="(t => TransactionCheckerHandler(t))" FromDate="@FromDate" ToDate="@ToDate" TerminalIds="@TerminalIds" PaymentMethodIds="@PaymentMethodIds" States="@TransactionStates"></TransactionChecker>

@if (ShouldShowTransactionCheckResults())
{
    <PossibleTransactions PossibleTransactionsList="@PossibleTransactions"></PossibleTransactions>
}
